POSTGRES_USER=admin
POSTGRES_PASSWORD=0000
Default_Password=0000
POSTGRES_DB=coupon_db
DATABASE_URL=postgres://admin:0000@db:5432/coupon_db
JWT_SECRET=supersecretjwt
ADMIN_SECRET_KEY=supersecretadmin
NODE_ENV=development
PORT=3000
